* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    box-sizing: border-box;
}
html, body, main {
    height: 100%;
}
body {
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

#num {
    border: 1px solid black;
    position: relative;
    padding: 1px 5px
}

@media screen and (max-width: 550px) {
    canvas {
        width: 90%;
    }
}

@media screen and (min-width: 551px) {
    canvas {
        height: 80%;
    }
}